<link rel="stylesheet" href="css/editor.css">
<div class="editor">
  <div id="ace"></div>
</div>
<script src="../libraries/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(function() {
  var electron = require('electron');
  var events = require('../utils/events');
  var fs = require('fs');
  var path = require('path');

  var editor;
  var interval;

  (function initAce() {
    $('#ace').height($('#content > .inner').height());
    editor = ace.edit("ace");
    editor.setTheme("ace/theme/monokai");
    editor.on('change', onEditorChange);
  })();

  function getEditorMode(filepath) {
    var extname = path.extname(filepath);
    switch(extname) {
      case '.html':
        return 'html';
      case '.css':
        return 'css';
      case '.md':
        return 'markdown';
      case '.js':
        return 'javascript';
      case '.json':
        return 'json';
      case '.less':
        return 'javascript';
    }
    console.error(`Unsupported filetype ${extname}`);
  }

  events.on('editor.open', openFile);

  function openFile(filepath) {
    try {
      var contents = fs.readFileSync(filepath);
    } catch(e) {
      return console.error(error);
    }
    events.trigger('content.setTitle', path.basename(filepath));

    $('#ace').attr('data-file', filepath);

    editor.getSession().setMode(`ace/mode/${getEditorMode(filepath)}`);
    editor.setValue(contents.toString());
    editor.getSession().setUseWrapMode(true);
    editor.gotoLine(0);
    editor.focus();
  }

  function saveFile() {
    window.clearTimeout(interval);
    interval = undefined;
    console.log('saveFile', Date.now(), $('#ace').attr('data-file'));
    try {
      fs.writeFileSync($('#ace').attr('data-file'), editor.getValue());
    } catch(e) {
      console.error(e);
    }
  }

  function onEditorChange(event) {
    if(!interval) {
      interval = window.setTimeout(saveFile, 1000);
    }
  }
});
</script>
