<div class="menuItem site" data-itemDir="{{itemDir}}">
  <div class="title">
    <span class="toggle fa fa-chevron-right"></span>
    <span class="toggle fa fa-chevron-down display-none"></span>
    {{item}}
  </div>
  <div class="drawer">
    <div class="actions">
      <a href="#" class="button preview"><span class="fa fa-cogs"></span> Preview site</a>
      <a href="#" class="button publish"><span class="fa fa-cloud-upload"> </span> Publish site</a>
    </div>
    <div class="files">
      <div class="inner"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
  var ipc = require('electron').ipcRenderer;
  var $el = $('.menuItem.site[data-itemDir="{{itemDir}}"]');

  $('a.preview', $el).click(previewSite);
  $('a.publish', $el).click(publishSite);

  function previewSite(e) {
    e && e.stopPropagation();
    ipc.send('app.previewSite', '{{itemDir}}');
  }
  function publishSite(e) {
    e && e.stopPropagation();
    ipc.send('app.publishSite', '{{itemDir}}');
  }
});
</script>
