<link rel="stylesheet" href="css/sidebar.css">
<div id="sidebar">
  <div class="sites">
    <div class="header">
      Sites
      <div class="addSite">
        <span class="fa fa-plus"></span>Add
      </div>
    </div>
    <div class="inner"></div>
  </div>
</div>
<script type="text/javascript">
$(function() {
  var fs = require('fs');
  var klaw = require('klaw-sync');
  var path = require('path');

  var atomisr = require('../utils/atomisr');
  var Constants = require('../data/constants');
  var events = require('../utils/events');
  var helpers = require('../utils/helpers');
  var sitedata = require('../data/sitedata');

  var SITES_DIR = path.join(Constants.Root, Constants.Folders.Sites);

  (function init() {
    resize();
    renderSites(function() {
      addListeners();
    });
    $('#sidebar').append(atomisr('statusBar.html'));
  })();

  function addListeners() {
    $(window).on('resize', resize);

    $('.site').click(toggleFiles);
    $('.file').click(openFile);

    $('.addSite').click(addSite);
  }

  function resize() {
    $('#addSiteType').remove();
    $('#sidebar > .sites').height($(window).height()-$('#sidebar > .sites').offset().top);
  }

  function renderSites(cb) {
    fs.readdir(SITES_DIR, function(error, sites) {
      var $container = $('.sites .inner');
      $container.empty();

      sites.forEach(function(site) {
        if(site[0] === ".") return;
        var dir = path.join(SITES_DIR, site);
        var $el = $(atomisr('menuItemSite.html', {
          class: 'site',
          item: site,
          itemDir: dir
        }));
        $('.drawer', $el).slideUp(0);
        $container.append($el);
        renderSite(dir);
      });
      if(typeof cb === 'function') cb();
    });
  }

  function renderSite(dir) {
    var $container = $(`.menuItem[data-itemDir="${dir}"] .files .inner`);
    $container.empty();

    var siteData = sitedata(dir);
    var pagesData = siteData.get('pages');

    if(!pagesData) {
      return console.error(`Invalid site source at ${dir}`);
    }
    // add the config page first
    $container.append(atomisr('menuItemFile.html', {
      class: 'file',
      item: 'Config',
      itemDir: siteData.DATA_PATH,
      icon: helpers.getIconForFiletype(path.extname(siteData.DATA_PATH))
    }));
    // list all site pages
    for(var pageName in pagesData) {
      $container.append(atomisr('menuItemFile.html', {
        class: 'file',
        item: pagesData[pageName].title.text,
        itemDir: path.join(dir, Constants.Folders.Pages, pageName + Constants.DefaultPageFileType),
        icon: helpers.getIconForFiletype(Constants.DefaultPageFileType)
      }));
    }
  }

  function toggleFiles(e) {
    var $menuItem = $(e.currentTarget);
    var $drawer = $('.drawer', $menuItem);
    var show = !$('.drawer', $menuItem).is(':visible');

    $('.drawer').slideUp();
    $('.menuItem').removeClass('open');

    if(show) {
      events.trigger('sidebar.site.show', $menuItem.attr('data-itemdir'));
      $drawer.slideDown();
    } else {
      events.trigger('sidebar.site.hide', $menuItem.attr('data-itemdir'));
    }

    $('.toggle', $menuItem.children('.title')).toggleClass('display-none');
    $menuItem.addClass('open');

  }

  function openFile(e) {
    e.stopPropagation();

    var $menuItem = $(e.currentTarget);

    $('.menuItem').removeClass('selected');
    $menuItem.addClass('selected');

    var filepath = $menuItem.attr('data-itemDir');
    events.trigger('editor.open', filepath);
  }

  function addSite(e) {
    var $callout = $('#addSiteType');
    if($callout.length) {
      $callout.remove();
    } else {
      var $target = $(e.currentTarget);
      var $el = $(atomisr('addSiteCallout.html'));
      var buffer = 10;
      $el.css({
        top: $target.offset().top + $target.height() + buffer,
        left: $target.offset().left + buffer
      });
      $('body').append($el);
    }
  }
});
</script>
