<div id="sidebar">
  <div class="header">
    Sites
    <div class="addSite">
      <span class="fa fa-plus"></span>Add
    </div>
  </div>
  <div class="inner">
    <div class="sites block">
      <div class="inner"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
  var fs = require('fs');
  var klaw = require('klaw-sync');
  var path = require('path');

  var atomisr = require('../atomisr');
  var Constants = require('../constants');
  var events = require('../events');
  var helpers = require('../helpers');

  var SITES_DIR = path.join(Constants.Root, Constants.Folders.Sites);

  (function init() {
    resize();
    renderSites(function() {
      addListeners();
    });
  })()

  function addListeners() {
    $(document).on('resize', resize);

    $('.site').click(toggleFiles);
    $('.file').click(openFile);

    $('.addSite').click(addSite);
  }

  function resize() {
    $('#sidebar > .inner').height($(window).height()-$('#sidebar > .inner').offset().top);
  }

  function renderSites(cb) {
    fs.readdir(SITES_DIR, function(error, contents) {
      var $container = $('.sites .inner');
      $container.empty();

      contents.forEach(function(item) {
        if(item[0] === ".") return;
        var itemDir = path.join(SITES_DIR, item);
        var $el = $(atomisr('menuItemSite.html', {
          class: 'site',
          item: item,
          itemDir: itemDir
        }));
        $('.files', $el).slideUp(0);
        $container.append($el);
        renderFiles(itemDir);
      });
      if(typeof cb === 'function') cb();
    });
  }

  function renderFiles(siteDir) {
    try {
      var items = klaw(path.join(siteDir, '_pages'), {
        noRecurseOnFailedFilter: true,
        filter: function(item) {
          var basename = path.basename(item.path);
          return basename === '.' || basename[0] !== '.';
        }
      });
    } catch(e) {
      $(`.menuItem.site[data-itemDir='${siteDir}']`).remove();
      return console.error(`Invalid site source at ${siteDir}`);
    }
    var $container = $(`.menuItem[data-itemDir="${siteDir}"] .files .inner`);
    $container.empty();
    items.forEach(function(item) {
      if(fs.statSync(item.path).isDirectory()) {
        return;
      }
      var itemPath = item.path;
      var filename = path.basename(itemPath);
      $container.append(atomisr('menuItemFile.html', {
        class: 'file',
        item: filename,
        itemDir: itemPath,
        icon: helpers.getIconForFiletype(path.extname(filename))
      }));
    });
  }

  function toggleFiles(e) {
    var $menuItem = $(e.currentTarget);
    var $files = $('.files', $menuItem);
    var showFiles = !$('.files', $menuItem).is(':visible');

    (showFiles) ? $files.slideDown() : $files.slideUp();
    $('.toggle', $menuItem.children('.title')).toggleClass('display-none');
  }

  function openFile(e) {
    e.stopPropagation();

    var $menuItem = $(e.currentTarget);

    $('.menuItem').removeClass('selected');
    $menuItem.addClass('selected');

    var filepath = $menuItem.attr('data-itemDir');
    events.trigger('editor.open', filepath);
  }

  function addSite(e) {
    var $callout = $('#addSiteType');
    if($callout.length) {
      $callout.remove();
    } else {
      $('body').append(atomisr('addSiteCallout.html'));
    }
  }
});
</script>
