<link rel="stylesheet" href="css/statusBar.css">
<div id="statusBar">
  <div class="text">Test</div>
  <div class="loading"></div>
</div>
<script type="text/javascript">
$(function() {
  var events = require('../utils/events');
  var ipc = require('electron').ipcRenderer;

  events.on('status.set', setText);
  ipc.on('status.set', setText);

  events.on('status.hide', hide);
  ipc.on('status.hide', hide);

  function setText(event, text) {
    if(!text) text = event;
    var $el = $('#statusBar');
    if(text) {
      $('.text', $el).text(text);
      $el.addClass('show');
    }
  }

  function hide() {
    $('#statusBar').removeClass('show');
  }
});
</script>
