<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>staticsite-ui</title>
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/theme.css">
    <link rel="stylesheet" href="./css/app.css">
</head>
<body>
  <div id="app">
    <div id="header">
      <div class="inner">
        <div class="title">staticsite-ui</div>
      </div>
    </div>
    <div class="inner">
      <div id="sidebar">
        <div class="inner">
          <div class="sites block">
            <div class="header">Sites</div>
            <div class="inner"></div>
            <a href="#" class="menuItem addSite"><span class="fa fa-plus"></span>Add new site</a>
          </div>
          <div class="files block">
            <div class="header">Site files</div>
            <div class="inner"></div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="inner"></div>
      </div>
    </div>
  </div>
  <script>window.$ = window.jQuery = require('../libraries/jquery-3.2.1.min.js');</script>
  <script type="text/javascript">
    var electron = require('electron');
    var fs = require('fs');
    var ipc = electron.ipcRenderer;
    var path = require('path');

    var atomisr = require('../atomisr');
    var Constants = require('../constants');

    var SITES_DIR = path.join(Constants.Root, Constants.Folders.Sites);

    $(function() {
      resizeContentPane();
      $(document).on('resize', resizeContentPane);

      renderSites();
      $('.menuItem.addSite').click(addSite);
    });

    function resizeContentPane(e) {
      $('#content').height($(window).height()-$('#header').outerHeight());
    }

    function renderSites() {
      fs.readdir(SITES_DIR, function(error, contents) {
        var $container = $('.sites .inner');
        $container.empty();

        contents.forEach(function(item) {
          if(item[0] === ".") return;
          $container.append(atomisr('menuItem.html', {
            class: 'site',
            item: item,
            itemDir: path.join(SITES_DIR, item)
          }));
        });
        $('a.site').click(renderFiles);
      });
    }

    function renderFiles(e) {
      var siteDir = $(e.currentTarget).attr('data-itemDir');
      fs.readdir(siteDir, function(error, contents) {
        var $container = $('.files .inner');
        $container.empty();
        // TODO needs to be recursive
        contents.forEach(function(item) {
          if(item[0] === ".") return;
          $container.append(atomisr('menuItem.html', {
            class: 'file',
            item: item,
            itemDir: path.join(siteDir, item)
          }));
        });
        $('a.file').click(openFile);
      });
    }

    function openFile(e) {
      var filepath = $(e.currentTarget).attr('data-itemDir');
      var fileContents = fs.readFileSync(filepath);

      switch(path.extname(filepath)) {
        case '.md':
          renderMarkdown(filepath, fileContents);
          break;
      }
    }

    function renderMarkdown(filepath, fileContents) {
      $('#content > .inner').text(fileContents);
    }

    function addSite(e) {
      ipc.sendSync('app.addSite');
    }

    ipc.on('app.siteAdded', function(event, data) {
      alert('app.siteAdded');
      // alert(JSON.stringify(data));
    });
  </script>
</body>
</html>
