<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>staticsite-ui</title>
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/theme.css">
    <link rel="stylesheet" href="./css/app.css">
</head>
<body>
  <div id="app">
    <div id="header">
      <div class="inner">
        <div class="title">staticsite-ui</div>
      </div>
    </div>
    <div class="inner">
      <div id="sidebar">
        <div class="inner">
          <div class="sites block">
            <div class="header">Sites</div>
            <div class="inner"></div>
            <div class="menuItem addSite">
              <span class="fa fa-plus"></span>Add new site
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="inner"></div>
      </div>
    </div>
  </div>
  <script>window.$ = window.jQuery = require('../libraries/jquery-3.2.1.min.js');</script>
  <script type="text/javascript">
    var electron = require('electron');
    var fs = require('fs');
    var ipc = electron.ipcRenderer;
    var klaw = require('klaw-sync');
    var path = require('path');

    var atomisr = require('../atomisr');
    var Constants = require('../constants');
    var helpers = require('../helpers');

    // TODO add a watch and rerender

    var SITES_DIR = path.join(Constants.Root, Constants.Folders.Sites);

    $(function() {
      resizeContentPane();
      $(document).on('resize', resizeContentPane);

      renderSites();
      $('.menuItem.addSite').click(addSite);
    });

    function resizeContentPane(e) {
      $('#content').height($(window).height()-$('#header').outerHeight());
    }

    function renderSites() {
      fs.readdir(SITES_DIR, function(error, contents) {
        var $container = $('.sites .inner');
        $container.empty();

        contents.forEach(function(item) {
          if(item[0] === ".") return;
          var itemDir = path.join(SITES_DIR, item);
          var $el = $(atomisr('menuItemSite.html', {
            class: 'site',
            item: item,
            itemDir: itemDir
          }));
          console.log($('.files', $el));
          $('.files', $el).slideUp(0);
          $container.append($el);
          renderFiles(itemDir);
        });
        $('.site').click(toggleFiles);
      });
    }

    function renderFiles(siteDir) {
      var items = klaw(siteDir, {
        noRecurseOnFailedFilter: true,
        filter: function(item) {
          var basename = path.basename(item.path);
          return basename === '.' || basename[0] !== '.';
        }
      });
      var $container = $(`.menuItem[data-itemDir="${siteDir}"] .files .inner`);
      $container.empty();
      items.forEach(function(item) {
        var itemPath = item.path;
        var filename = path.basename(itemPath);
        $container.append(atomisr('menuItemFile.html', {
          class: 'file',
          item: filename,
          itemDir: itemPath,
          icon: helpers.getIconForFiletype(path.extname(filename))
        }));
      });
      $('.file').click(openFile);
    }

    function toggleFiles(e) {
      var $menuItem = $(e.currentTarget);
      var $files = $('.files', $menuItem);
      var showFiles = !$('span.fa-plus', $menuItem).hasClass('display-none');

      (showFiles) ? $files.slideDown() : $files.slideUp();
      $('span', $menuItem.children('.title')).toggleClass('display-none');
    }

    function openFile(e) {
      e.stopPropagation();

      var filepath = $(e.currentTarget).attr('data-itemDir');
      var fileContents = fs.readFileSync(filepath);

      switch(path.extname(filepath)) {
        case '.md':
          renderMarkdown(filepath, fileContents);
          break;
      }
    }

    function renderMarkdown(filepath, fileContents) {
      $('#content > .inner').text(fileContents);
    }

    function addSite(e) {
      ipc.sendSync('app.addSite');
    }

    ipc.on('app.siteAdded', function(event, data) {
      alert('app.siteAdded');
    });
  </script>
</body>
</html>
