body {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  display: block;
}

.inner {
  padding: 20px;
  padding-top: 45px;
}

.inner > .title {
  font-size: 19px;
  margin-bottom: 20px;
  margin-left: 4px;
}

.form {
  height: 85px;
}

input {
  background: rgba(0,0,0,0.15);
  outline: none;
  margin-top: 15px;
  padding: 12px;
  border: 1px solid #454950;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: 100%;
  box-sizing: border-box;
}
