#addSiteType {
  position: fixed;
  z-index: 5000;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
}
#addSiteType a {
  display: block;
  color: inherit;
  font-size: 15px;
  margin-bottom: 10px;
}
#addSiteType a:last-child {
  margin-bottom: 0;
}

#addSiteType span.fa {
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 30px;
}
