#addSiteType {
  position: fixed;
  top: 90px;
  left: 266px;
  z-index: 5000;
  padding: 20px;
  background: #1a1e22;
  border: 1px solid #313131;
  border-radius: 3px;
}
#addSiteType a {
  display: block;
  color: inherit;
  font-size: 15px;
  margin-bottom: 10px;
}
#addSiteType a:last-child {
  margin-bottom: 0;
}

#addSiteType span.fa {
  position: fixed;
  height: 0;
  width: 0;
  top: 70px;
  left: 270px;
  color: #1a1e22;
  font-size: 30px;
}
