body {
  margin: 0;
}

#preview {
  height: 100%;
}

#preview .inner {
  display: flex;
  flex-flow: column;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

#preview .grab-bar {
  flex: 1 1 35px;
  background: #191c21;
  border-width: 1px;
  border-style: solid;
}

#preview .toolbar {
  position: fixed;
  margin-top: 50px;
  margin-left: 10px;
  border-width: 1px;
  border-style: solid;
}
#preview .toolbar .group {
  display: inline-block;
}
#preview .toolbar a {
  display: inline-block;
  font-size: 24px;
  padding-bottom: 3px;
  margin: 10px;
  border-bottom: 2px solid rgba(0,0,0,0);
}
#preview .toolbar a span {
  margin: 0;
}
#preview .toolbar a:hover {
  border-color: inherit;
}

#preview .siteWrapper {
  flex: 1 1 100%;
  margin: 0 auto;
  border: none;
  transition: width 1s;
  overflow-y: scroll;
  width: 100%;
}
