#sidebar {
  position: static;
  width: 30%;
  float: left;
}
#sidebar .header {
  padding: 15px;
}
#sidebar > .inner {
  overflow: auto;
}

#sidebar .actions {
  background: #191c21;
  border-bottom: 1px solid #272727;
  font-size: 85%;
  display: flex;
}
#sidebar .actions .button {
  display: inline-block;
  color: inherit;
  padding: 5px;
  text-decoration: none;
  flex: auto;
  text-align: center;
}
#sidebar .actions .button:hover {
  text-decoration: underline;
}

#sidebar .menuItem .title {
  padding: 7px;
  color: inherit;
  cursor: pointer;
}
#sidebar .menuItem.site > .title {
  padding: 15px;
}
#sidebar .menuItem.site > .title > .toggle {
  width: 10px;
}

#sidebar .menuItem.site .files {
  margin: 7px 20px 15px 20px;
}
#sidebar .menuItem.file .fa {
  margin-right: 10px;
}

.addSite {
  float: right;
  margin-top: 5px;
  cursor: pointer;
}
