@font-face {
  font-family: "Droid Serif";
  src: url(../fonts/DroidSerif-Regular.ttf) format("truetype");
}

body {
  font-family: 'Droid Serif', serif;
  color: #abb2bb;
}

#sidebar .inner .menuItem.site > .title {
  background-color: #21252b;
  border-bottom-color: #313131;
}
#sidebar .inner .menuItem.site > .title:hover {
  color: #e0e0e0;
}
#sidebar .inner .menuItem.file .title {
  color: #777d85;
}
#sidebar .inner .menuItem.file.selected .title {
  color: #40a1ca;
}

input {
  border-color: #454950;
}

#addSiteType {
  background: #1a1e22;
  border-color: #313131;
}

#addSiteType span.fa {
  color: #1a1e22;
}

#siteMenu {
  background: #191c21;
  border-color: #272727;
}

.content {
  background-color: rgba(255,255,255,0.04);
  border-color: #454950;
}

#content .header {
  border-top-color: #313131;
  border-left-color: #313131;
  border-bottom-color: rgb(56, 56, 56);
  background: rgba(33, 37, 43, 0.92);
}
#content .inner {
  background-color: #21252b;
}

/**
* Editor
*/

#ace .ace_gutter {
  background: rgba(0,0,0,0.1);
}
#ace .ace_gutter .ace_gutter-active-line {
  background: #1e272f;
}
#ace .ace_marker-layer .ace_active-line,
#ace .ace_marker-layer .ace_selection {
  background: #1e272f;
}
#ace .ace_marker-layer .ace_selection {
  border: 1px solid #40a1ca;
  background: #255c73;
}

/**
* Preview
*/

#preview .grab-bar {
  background: #191c21;
  border-color: #272727;
}

#preview .toolbar {
  background: #191c21;
  border-color: #272727;
}
#preview .toolbar a {
  color: #c3c3c3;
}
#preview .toolbar a.selected {
  color: #40a1ca;
  border-color: #40a1ca;
}

/**
* Status bar
*/

#statusBar {
  background: #21252b;
  border-color: #3a3939;
}
#statusBar .text {
  border-color: #656565;
}
#statusBar .loading {
  background-image: repeating-linear-gradient(-45deg, #40a1ca, #40a1ca 11px, #2e5f73 10px, #2e5f73 20px);
}
